<div class="container">
  <div class="row mt-4">
    <div class="col-sm-4">
       <h4><%= @member.name %>さんの会員詳細</h4>
    </div>
  </div>
 
  <div class="row">
    <div class="col-sm-6">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td>会員ID</td>
            <td><%= @member.id %></td>
          </tr>
          <tr>
            <td>ニックネーム</td>
            <td><%= @member.name %></td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td><%= @member.email %></td>
          </tr>
          <tr>
            <td>会員ステータス</td>
            <td>
              <% if @member.is_deleted == false %>
                <p class="color text-success">有効</p>
              <% else %>
                <p class="color text-secondary">退会</p>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="col-sm-5"></div>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-sm-2 offset-3">
      <%= link_to "編集する", edit_admin_member_path(@member.id), class:"btn btn-success" %>
    </div>
  </div>
</div>