<div class="container">
  <div class="row text-right mt-4">
    <div class="col-sm-4">
      <h4>レシピ編集画面</h4>
    </div>
  </div>

  <%= form_with model: @recipe, url: product_recipe_path, local:true do |f| %>
    <div class="row">
      <div class="col-sm-10 offset-2">
        <table class="table-borderless-item">
          <tr>
            <div>
              <td><%= f.label :レシピ画像 %></td>
              <td><%= f.attachment_field :image %></td>
            </div>
          </tr>
          <tr>
            <div class="col-sm-2">
              <td><%= f.label :レシピ名 %></td>
              <td><%= f.text_field :name, class:"form-control" %></td>
            </div>
          </tr>
          <tr>
            <div class="col-sm-2">
              <td><%= f.label :レシピ説明 %></td>
              <td><%= f.text_area :introduction, class:"form-control" %></td>
            </div>
          </tr>
          <tr>
            <div>
              <td><%= f.label :レシピのこだわり %></td>
              <td><%= f.text_area :kodawari, class:"form-control" %></td>
            </div>
          </tr>
        </table>
      </div>
    </div>

    <div class="row text-center mb-3">
      <div class="col-sm-12">
        <td><%= f.submit "編集内容を保存" ,class: 'btn btn-success col-sm-2' %></td>
      </div>
    </div>
  <% end %>
</div>
