<div class="container">
  <div class="row my-5">
    <div class="col-sm-3">
      <%= render 'public/members/mypage', member: current_member %>
    </div>

    <div class="col-sm-9">
      <div class="d-flex flex-wrap">
        <div class="flex-item">
          <div class="card　border-0">
              <%= attachment_image_tag @recipe, :image, :fill, 500, 300, fallback: "noimage.jpg", class:"recipe-show-img" %>
              <p class="recipe-info">レシピ名:</p>
              <p class="card-title">
                <%= @recipe.name %>
              </p>
              <p class="recipe-info">レシピ情報:</p>
              <p class="card-title">
                <%= simple_format(@recipe.introduction) %>
                <!--<= @recipe.introduction %>-->
              </p>
              <p class="recipe-info">レシピのこだわり:</p>
              <p class="card-title">
                <%= simple_format(@recipe.kodawari) %>
                <!--<= @recipe.kodawari %>-->
              </p>
              <% if @recipe.member == current_member %>
                <div class = "recipe-button">
                  <p class="card-button">
                    <%= link_to "レシピを編集する", edit_product_recipe_path(@recipe.product_id,@recipe.id) ,class:"btn btn-primary" %>
                  </p>
                  <p class="card-button">
                    <%= link_to "レシピを削除する", product_recipe_path(@recipe.product_id,@recipe.id),method: :delete,"data-confirm" => "本当に削除しますか？" ,class:"btn btn-danger" %>
                  </p>
                </div>
              <% end %>

              <div class="favorite-btn-<%= @recipe.id %>">
                <%= render 'public/favorites/favorite', recipe: @recipe %>
              </div>
<!--星レビュー機能実装コード-->
              <div class="card-content">
                <div class="content average-score">
                  <div class="star-rating mb-2">
                    <div class="star-rating-front" style="width: <%= @recipe.review_score_percentage %>%">★★★★★</div>
                    <div class="star-rating-back">★★★★★</div>
                  </div>
                  <div class="average-score-display ml-3 pt-2">
                    <%= @recipe.avg_score %>点 （<%= @recipe.reviews.count %>件のレビュー）
                  </div>
                </div>
              </div>
              <%= render 'public/reviews/form', review: @review, recipe: @recipe %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>