<div class="container">
  <div class="row my-5">
    <div class="col-sm-3">
      <%= render 'public/members/mypage', member: current_member %>
    </div>
    
    <div class="col-sm-9">
      <p>商品一覧(全<%= products.count %>件)</p>
      <div class="d-flex flex-wrap">
        <% products.each do |product| %>
        <div class="flex-item">
          <div class="card　border-0">
            <%= link_to product_path(product.id) do %>
              <%= attachment_image_tag product, :image, :fill, 170, 100 %>
              <p class="card-title">
                <%= product.name %>
              </p>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>        
    </div>
  </div>
</div>